body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
}

h1 {
    color: antiquewhite;
    text-align: center;
}

#games {
    display: grid;
    grid-template: 300px / auto auto auto;
    margin-left: 25%;
    margin-right: 25%;
}

#games button {
    background-color: #404040;
    color: burlywood;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;

    border: none;
    display: block;
    margin: 15px;

    width: 250px;
    height: 250px;
}

#games button:hover {
    background-color: #454545;
    width: 260px;
    height: 260px;
    
    margin: 10px;
}

#games button img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;

    width: 100px;
    height: 100px;
}